.main-menu {
    position: fixed;
    background: #000000;
    z-index: 10;
    width: 100%;
    height: fit-content;
    margin: auto;
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;

    .container {
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .pages {
        text-transform: uppercase;   
        display: flex;
        align-items: center;  

        a {
            text-decoration: none;
            color: #e6e6e6;
            padding: 0 10px;
            display: flex;
            align-items: center;
            height: 100%;
            border-left: 1px solid #808080;

            &:first-child {
                border: none;
                padding: 0 10px 0 0;
            }

            &:last-child {
                border-right: 1px solid #808080;
            }
        }
    }
}

.logo {
    height: 50px;
    padding: 7px 0;
}


.langs {
    display: flex;
    align-items: center;

    .lang {
        padding: 0 5px;
/*         font-weight: 600;
        color: #e6e6e6; */
    }

    .flag {
        height: 25px;
        margin: 13px 0 13px 10px ;
    }
}


@media screen and (max-width: 430px) {

    .main-menu {
    
        .pages {
            display: flex;
            width: 100%;
            justify-content: space-evenly;

            a {
                margin: 0;
            }
        }
    }

    .flags {
        display: flex;
        width: 100%;
        justify-content: center;

        .flag {
            margin: 0 5px;
        }
    }
}
