.section {
    background: #222121;
    /* padding: 30px; */
}

.slider-wrapper {
    position: relative;
}

.container {
    position: absolute;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    height: max-content;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}

.slider-title-left, .slider-title-right {
    color: orange;
    margin-bottom: clamp(8px, 2vw, 13px);
    font-size: clamp(0.9rem, 3vw, 2.5rem);
    text-align: left;
}

.slider-subtitle-left, .slider-subtitle-right {
    color: white;
    font-size: clamp(0.7rem, 2.5vw, 1.8rem);
    font-weight: 400;
}

.slider-title-right, .slider-subtitle-right {
    text-align: right;

}

@media screen and (max-width: 1024px) {

    .container {
        padding: 2.5%;
        background: #0000009f;
    }
}