.section {
    background: #141414;
    padding: 30px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: max-content;
}

.programs-title {
    color: #ff3100;
    margin: 25px 0;
    /* font-size: 1.8rem; */
    font-weight: 400;
}

.proposals {
    width: clamp(90%, 90vw, 100%);
    margin: 0 auto 20px;
    font-weight: 300;
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: #d3d3d3;
}

.proposals-title {
    font-size: clamp(1.0rem, 4vw, 1.5rem);
    color: #ffb300;
    margin-bottom: 6px;
    font-weight: 400;
}

.proposal-item {
    color: #fffb73;
    margin-bottom: 5px;
    line-height: normal;
}

.proposal-marker {
    color: #ff4500;
    margin-right: 5px;
}

.programs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    /* grid-template-rows: 1fr 1fr; */
    gap: 10px;
}

.program-item {
    position: relative;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.program-label {
    position: absolute;
    top: 2px;
    right: 7px;
    width: 48px;
    height: 28px;
    border-radius: 5px;
    background: #f9fd00;
    transform: rotate(10deg);
    border: 1px solid #ff6a00;

    .program-label-text {
        position: relative;
        font-weight: 700;
        font-size: 1.2rem;
        top: 6px;
        left: 3px;
    }
}

.program-num {
    font-weight: 400;
    color: #c7c7c7;
    text-align: center;
    margin-bottom: 5px;
}

.program-name {
    color: red;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 7px;
}

.services-list {
    flex-grow: 1;
}

.service-item {
    display: grid;
    grid-template-columns: 10px auto;
    font-weight: 300;
    color: #f5f5f5;
    padding-bottom: 5px;
    line-height: 1.2rem;
}

.price {
    color: #00b62d;
    text-align: right;

    .car-body {
        font-size: 1rem;
        font-weight: 400;
        color: #c7c7c7;
    }
}

@media screen and (max-width: 430px) {

    .section {
        padding: 5vw;
    }

    .programs {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}